* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: url('./images/pattern-background-desktop.svg');
    background-position: center -40%;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;


    @media only screen and (max-width:375px) {
        background-image: none;
        background-color: hsl(226, 76%, 90%);
    }

    .container {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100vh;

        .order-container {
            box-shadow: 15px 2px 35px #00000030;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: column;
            margin: 20px;


            .illustration-hero {
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                margin: 0px;
                width: 100%;
            }

            .informations-container {
                align-items: center;
                background: #FFF;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                color: hsl(223, 47%, 23%);
                display: flex;
                flex-direction: column;
                margin: 0px;
                padding-bottom: 50px;
                width: 100%;

                .title {
                    font-weight: 900;
                    font-size: 28px;
                    margin-bottom: 20px;
                    margin-top: 40px;
                }

                .paragraph {
                    color: hsl(224, 23%, 55%);
                    font-size: 16px;
                    max-width: 300px;
                    text-align: center;
                    line-height: 25px;
                    margin-bottom: 22px;
                    width: 100%;


                    @media only screen and (max-width:453px) {
                        max-width: 264px;

                    }
                }

                .anual-container {
                    align-items: center;
                    background-color: hsla(222, 62%, 96%, 0.776);
                    border-radius: 10px;
                    display: flex;
                    margin-bottom: 40px;
                    padding: 20px 30px;
                    width: max-content;


                    @media only screen and (max-width:453px) {
                        padding: 20px 20px;
                    }



                    img {
                        margin-right: 20px;

                        @media only screen and (max-width:453px) {
                            margin-right: 10px;
                        }

                    }


                    .text-container {
                        display: flex;
                        flex-direction: column;

                        h4 {
                            font-weight: 700;
                        }

                        p {
                            color: hsl(224, 23%, 55%);
                        }
                    }

                    .change {

                        color: #4e3fbc;
                        cursor: pointer;
                        font-weight: 700;
                        margin-left: 70px;
                        text-decoration: underline;

                        &:hover {
                            color: #766cf1;
                            text-decoration: none;
                        }

                        @media only screen and (max-width:453px) {
                            margin-left: 40px;
                        }

                        @media only screen and (max-width:320px) {
                            margin-left: 9px;
                        }

                    }
                }

                button {
                    border: none;
                    background-color: #382ae1;
                    box-shadow: 2px 5px 10px #00000041;
                    border-radius: 8px;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 700;
                    font-family: 'Red Hat Display', sans-serif;
                    margin-bottom: 30px;
                    padding: 14px 110px;


                    &:hover {
                        background-color: #766cf1;
                    }

                    @media only screen and (max-width:453px) {
                        padding: 14px 75px;
                    }

                    @media only screen and (max-width:320px) {
                        padding: 14px 65px;
                    }

                }

                .cancel {
                    color: hsl(0, 0%, 51%);
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

        }
    }
}